<p id="notice"><%= notice %></p>

<p>
  <strong>U name:</strong>
  <%= @user.u_name %>
</p>

<p>
  <strong>U email:</strong>
  <%= @user.u_email %>
</p>

<p>
  <strong>U password:</strong>
  <%= @user.u_password %>
</p>

<p>
  <strong>U picture:</strong>
  <%= @user.u_picture %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
