<%= render 'layouts/header' %>

<div class='container'>
	<div class='panel panel-default panel-form'>
		<div class='panel-body'>
			<p id="notice"><%= notice %></p>


			<center>
				<img src="<%= @user.u_picture %>" height='128px' class='img-circle'>
			</center>

			<p>
			  <strong>Name:</strong>
			  <%= @user.u_name %>
			</p>

			<p>
			  <strong>Email:</strong>
			  <%= @user.u_email %>
			</p>
			<% if logged_in? %>
	    		<% if current_user.id == @user.id %>
					<%= link_to 'Edit Profile', edit_user_path(@user), class: "btn btn-success" %>
				<% end %>
			<% end %>
				
		</div>
	</div>
</div>
	
<%= render 'layouts/footer' %>