<%= render 'layouts/header' %>

<div class="container">
<p id="notice"><%= notice %></p>
<% if logged_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-default right", id: "btn-new-post" %>
<% end %>
<ul class='list-group' style="margin-top: 52px">
    <% @posts.each do |post| %>
      
        <li class='list-group-item'>
          <% if(post.post_id) 
            @parent_post = Post.find(post.post_id)
            %>
            <a href="/posts/<%= post.post_id %>" class='btn btn-primary'><span>Parent: <strong><%= @parent_post.p_title %></strong></span></a>
          <% else %>
            <a class='btn btn-white'><span></span></a>
          <% end %>
          <a href="/posts/<%= post.id %>">
          <p class='right'>&nbsp<%= post.p_date %></p>
          <p class='right'> <img src="<%= post.user.u_picture %>" height='20px' class='img-circle'> <%= post.user.u_name %> at</p>
          <h2><%= post.p_title %></h2>
          <!--% = post.p_content %-->
          <!--% = post.post %-->
          <p><%= post.p_content[0..80] %>...</p>
          <p>
            <% if(post.post.count > 1) %>
              <span class="badge"><%= post.post.count %> replies</span>
            <% else %>
              <% if(post.post.count > 0) %>
                <span class="badge"><%= post.post.count %> reply</span>
              <% else %>
                <span class="badge">No replies</span>
              <% end %>
            <% end %>
          </p>
        </li>
      </a>
    <% end %>
</ul>
</div>

<%= render 'layouts/footer' %>