<p id="notice"><%= notice %></p>

<p>
  <strong>P title:</strong>
  <%= @post.p_title %>
</p>

<p>
  <strong>P content:</strong>
  <%= @post.p_content %>
</p>

<p>
  <strong>P date:</strong>
  <%= @post.p_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post.post %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
