<%= render 'layouts/header' %>

<div class='container'>
  <div class='panel panel-default panel-form'>
    <div class='panel-body'>
      <p id="notice"><%= notice %></p>

      <p class='right'>&nbsp<%= @post.p_date %></p>
      <p class='right'> <img src="<%= @post.user.u_picture %>" height='20px' class='img-circle'> <%= @post.user.u_name %> at</p>
      
      <h1><%= @post.p_title %></h1>

      <p>
        <%= @post.p_content %>
      </p>

      <p>
        <%= @post.post %>
      </p>
      <% if logged_in? %>
          <% if current_user.id == @post.user.id %>
            <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-success" %>
          <% end %>
      <% end %>
      
      </div>
  </div>
</div>
  
<%= render 'layouts/footer' %>